
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.buttons {
    margin-top:40px
    }
    
    #btn1{
    background-colour: #bdbbbb;
    width: 300px;
    font-size: 20px;
    colour: #ffffff;
    border: 2px solid #000000;
    border-radius: 50px;
    margin: 10px 50px 10px 0px;
    border-radius: 30px;
    padding: 20px 20px;
    }

    #btn2{
        background-colour: #bdbbbb;
        width: 300px;
        font-size: 20px;
        colour: #ffffff;
        border: 2px solid #000000;
        border-radius: 50px;
        margin: 10px 50px 10px 0px;
        border-radius: 30px;
        padding: 20px 20px;
        }

    #btn3{
            background-colour: #bdbbbb;
            width: 300px;
            font-size: 20px;
            colour: #ffffff;
            border: 2px solid #000000;
            border-radius: 50px;
            margin: 10px 50px 10px 0px;
            border-radius: 30px;
            padding: 20px 20px;
            }

     #btn4{
                background-colour: #bdbbbb;
                width: 300px;
                font-size: 20px;
                colour: #ffffff;
                border: 2px solid #000000;
                border-radius: 50px;
                margin: 10px 50px 10px 0px;
                border-radius: 30px;
                padding: 20px 20px;
                }    
                
                #btn5{
                    background-colour: #bdbbbb;
                    width: 300px;
                    font-size: 20px;
                    colour: #ffffff;
                    border: 2px solid #000000;
                    border-radius: 50px;
                    margin: 10px 50px 10px 0px;
                    border-radius: 30px;
                    padding: 20px 20px;
                    }

                    #btn6{
                        background-colour: #bdbbbb;
                        width: 300px;
                        font-size: 20px;
                        colour: #ffffff;
                        border: 2px solid #000000;
                        border-radius: 50px;
                        margin: 10px 50px 10px 0px;
                        border-radius: 30px;
                        padding: 20px 20px;
                        }

                        #btn7{
                            background-colour: #bdbbbb;
                            width: 300px;
                            font-size: 20px;
                            colour: #ffffff;
                            border: 2px solid #000000;
                            border-radius: 50px;
                            margin: 10px 50px 10px 0px;
                            border-radius: 30px;
                            padding: 20px 20px;
                            }

                            #btn8{
                                background-colour: #bdbbbb;
                                width: 300px;
                                font-size: 20px;
                                colour: #ffffff;
                                border: 2px solid #000000;
                                border-radius: 50px;
                                margin: 10px 50px 10px 0px;
                                border-radius: 30px;
                                padding: 20px 20px;
                                }

                                #btn9{
                                    background-colour: #bdbbbb;
                                    width: 300px;
                                    font-size: 20px;
                                    colour: #ffffff;
                                    border: 2px solid #000000;
                                    border-radius: 50px;
                                    margin: 10px 50px 10px 0px;
                                    border-radius: 30px;
                                    padding: 20px 20px;
                                    }

                                    #btn10{
                                        background-colour: #bdbbbb;
                                        width: 300px;
                                        font-size: 20px;
                                        colour: #ffffff;
                                        border: 2px solid #000000;
                                        border-radius: 50px;
                                        margin: 10px 50px 10px 0px;
                                        border-radius: 30px;
                                        padding: 20px 20px;
                                        }
    
    
    
    
   
